.alert-dismiss_notice {
	position: fixed;
	width: 300px;
	margin: 0 auto;
	z-index: 130;
	left: 0;
	right: 0;
	top: 50%;
	-webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
	background-color: #FFFFFF;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center 10px;
	padding-top: 50px !important;
}